.goodsDisplay {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.goodsCard {
  width: 190px;
  height: 254px;
  overflow: visible;
  cursor: pointer;
  position: relative;
  margin: 2rem 2rem 1rem 2rem;
  &::before,
  .content {
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #00000022;
    transition: transform 300ms, box-shadow 200ms;
  }
  &::before {
    position: absolute;
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ee9933;
    transform: rotateZ(5deg);
  }
  & .content {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotateZ(-5deg);
  }

  &:hover::before,
  &:hover .content {
    transform: rotateZ(0deg);
  }

  &:active::before,
  &:active .content {
    box-shadow: none;
  }
}

.description {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  & p {
    margin-bottom: 10px;
  }
  & .title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info {
    color: #00000066;
  }
  
  .price {
    font-weight: bold;
    color: #ee9933;
    &::before {
      content: "$";
    }
  }
}

.content .img {
  width: 150px;
  height: fit-content;
}
